* {
    margin: 0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

body, input, textarea, select, button {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
    font-size: 15px;
    color: rgb(61, 70, 77);
    font-weight: normal;
}

header {
    display: block;
    background: black;
    color: white;
    text-align: center;
    height: 40px;
    width: 100%;
    margin: 0px auto;
    position: fixed;
    top: 0;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: white;
}

section {
    display: block;
    width: 400px;
    height: 300px;
}

footer {
    width: 100%;
    line-height: 300%;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    margin-top: -20px;

}

canvas {
    object-fit: inherit;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}

#canv {
    margin: 50px auto 50px 20px;
}

#control{
    display: block;
    text-align: center;
    position: fixed;
    top: 5%;
    margin-right: 30px;
    right: 0;
    width: 10%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #353535;
    border-radius: 20px;
    padding: 10px;
}

